<!doctype html>
<html lang="en">

<head>
	<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NDGGTKJ');</script>
<!-- End Google Tag Manager -->
	
	
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="./assets/images/fav.png">

    <!-- meta tags -->
    <title>SnipShot | Shopify Snippets</title>
    <meta name="description" content="">
    <link rel="canonical" href="https://chauhan07.github.io/snipshot/">
    <meta name="robots" content="index,follow">

    <!-- OG Tags -->
    <meta property="og:title" content="SnipShot - Shopify Code Snippets">
    <meta property="og:description" content="Find the most useful Shopify code snippets to help you build your website. Get easy-to-implement code solutions for common Shopify tasks, including customizing themes, adding functionality, and optimizing performance. Save time and improve your Shopify development with our collection of code snippets.">

    <meta property="og:image" content="https://chauhan07.github.io/snipshot/">
    <meta property="og:url" content="https://chauhan07.github.io/snipshot/assets/images/og_image.png">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">

    <!-- Bootstrap CSS -->
    <link href="../../assets/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/style.css" rel="stylesheet">
    <!-- <link href="./assets/css/style.css" rel="stylesheet"> -->
    <link href="../../assets/prism/prism.css" rel="stylesheet">
    <link href="../../assets/line-number/line-number.css" rel="stylesheet">
    <script src="../../assets/prism/prism.js"></script>
    <script src="../../assets/line-number/line-number.js"></script>

</head>

<body>
	
	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NDGGTKJ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


<section class="main">
    <header class="container-fluid  darkHdr">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 d-flex align-items-center">
                    <div class="inner d-flex justify-content-center justify-content-sm-start">
                        <h1 class="logoText">
                            <a href="../../index.html">
                                <span>&lt;</span> SnipShot
                                <span>/&gt;</span>
                            </a>
                        </h1>
                    </div>
                </div>
                <div class="col-6 d-none d-sm-flex">
                    <div class="inner d-flex justify-content-end social">
                        <ul>
                            <li>
                                <a href="https://github.com/chauhan07" target="_blank">
                                    <img src="../../assets/images/github.png">
                                </a>
                            </li>
                            <li>
                                <a href="https://codepen.io/adityachauhan" target="_blank">
                                    <img src="../../assets/images/codepen.png">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/ad1tya.rana/" target="_blank">
                                    <img src="../../assets/images/instagram.png">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="ap_wrapper">
        <div class="ap_newDesign left" id="sideBar">
            <div class="inner">
                <ul>
                    <li class="general">
                        <img src="./assets/images/book.png" alt="">Getting Started
                    </li>
                    <li data-topic="basic info">
                        <a href="./login.html#basic_info">
                            Login using Wordpress API's
                        </a>
                    </li>
                    <li data-topic="using local storage">
                        <a href="./login.html#using_local_storage">
                            Login Form Example using Local Storage
                        </a>
                    </li>
                    <li data-topic="protected component using ls">
                        <a href="./login.html#protected_component_using_ls">
                            Protected Components using Local Storage
                        </a>
                    </li>
                    <li data-topic="is user login ls">
                        <a href="./login.html#is_user_login_ls">
                            Check if user is already login using Local Storage
                        </a>
                    </li>
                    <li data-topic="using cookies">
                        <a href="./login.html#using_cookies">
                            Login Functionality using Cookie
                        </a>
                    </li>
                    <li data-topic="protected component using cookies">
                        <a href="./login.html#protected_component_using_cookies">
                            Protected Components using js-cookie
                        </a>
                    </li>
                    <li data-topic="is user login cookies">
                        <a href="./login.html#is_user_login_cookies">
                            Check is user is already login using js-cookie
                        </a>
                    </li>
                    <li data-topic="logout using ls">
                        <a href="./login.html#logout_using_ls">
                            Logout using local storage
                        </a>
                    </li>
                    <li data-topic="logout using cookies">
                        <a href="./login.html#logout_using_cookies">
                            Logout using cookies
                        </a>
                    </li>
                    

                </ul>
            </div>
        </div>

        <div class="ap_right_box">
            <div class="inner_box">
                <div class="right">

                    <div class="top_hdng">
                        <h3 class="hdng">
                            Get started with JN Snippets
                        </h3>
                        <p>
                            JN Snippets is a powerful, feature-packed frontend toolkit. Build anything—from prototype to production—in minutes.
                        </p>
                    </div>

                    <ul>
                        <!--- getting content on front end --->
                        <li id="basic_info">
                            <div>
                                <h3>
                                    <span class="text">
                                        Login using Wordpress API's | Local Storage & Cookie
                                    </span>
                                </h3>

                                <p class="topicDesc">
                                    <strong>Enable WordPress REST API</strong> <br/>
                                    WordPress already includes a REST API, so ensure it's enabled by default.  <br/>
                                    For user authentication, you'll need the JWT Authentication plugin. <br/>
                                    <a href="https://wordpress.org/plugins/jwt-authentication-for-wp-rest-api/" target="_blank">JWT Plugin</a>  <br/>
                                    Add the following lines to your wp-config.php file:
                                </p>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">define('JWT_AUTH_SECRET_KEY', 'jagga-is-back');
define('JWT_AUTH_CORS_ENABLE', true);
</code>
                                </pre>
                                </span>

                                <p class="topicDesc">
                                    Ensure your WordPress .htaccess file supports the API by adding:
                                </p>
                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule ^(.*) - [E=HTTP_AUTHORIZATION:%1]
</code>
                                </pre>
                                </span>
                            </div>
                        </li>

                        <li id="using_local_storage">
                            <div>
                                <h3>
                                    <span class="text">
                                        Login Form Example using Local Storage
                                    </span>
                                </h3>

                                <p class="topicDesc">
                                    You'll use axios to communicate with the WordPress REST API.
                                </p>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-js">import React, { useState } from 'react';
import axios from 'axios';
import { useNavigate } from 'react-router-dom'; 
// use navigate is used for redirect the user after successful login


function LoginForm() {
    const [getInputValues, holdInputValues] = useState({
        fName : '',
        eMail : '',
        pHone : '',
        pWord : ''
    });
    const [responseMessage, setResponseMessage] = useState('');
    const navigate = useNavigate(); // Initialize useNavigate for redirects
    const GetInputEvent = (event) => {
        const {name, value} = event.target;
        holdInputValues((prevVal) => {
            //console.log(prevVal);
            return{
                ...prevVal,
                [name]: value,
            }
        })
    }
    const onSubmitForm = async (event) => {
        event.preventDefault();
        console.log(getInputValues.eMail);
        console.log(getInputValues.pWord);


        try {
            const response = await axios.post(`$site-url]/wp-json/jwt-auth/v1/token`, {
                username: getInputValues.eMail,
                password: getInputValues.pWord,
            });
            localStorage.setItem('token', response.data.token); // Save the JWT token
            setResponseMessage('Login Successfull');
            // Redirect to dashboard after login
            navigate('/dashboard'); // redirects user
        } catch (error) {
            // console.error('Login failed', error.response.data);
            setResponseMessage('Invalid username or password.');
        } 
    }
    return (
    &lt;>
        &lt;section className="formContact">
            &lt;div className="container">
                &lt;div className="row">
                &lt;div className="col-md-7">
                    &lt;form className="formWrapper" onSubmit={onSubmitForm}>
                        &lt;div className="ap_form">
                            &lt;h1>Hello&lt;/h1>
                            &lt;input type="email" placeholder="Email" value={getInputValues.eMail} name="eMail" onChange={GetInputEvent}/>
                            &lt;input type="password" placeholder="Password" value={getInputValues.pWord} name="pWord" onChange={GetInputEvent}/>
                            &lt;button>Submit&lt;/button>
                            {responseMessage && &lt;p>{responseMessage}&lt;/p>}
                        &lt;/div>
                    &lt;/form>
                &lt;/div>
                &lt;/div>
            &lt;/div>
        &lt;/section>
    &lt;/>
    );
}
export default LoginForm;
</code>
                                </pre>
                                </span>
                            </div>
                        </li>

                        <li id="protected_component_using_ls">
                            <div>
                                <h3>
                                    <span class="text">
                                        Use following for protected Components
                                    </span>
                                </h3>

                                <p class="topicDesc">
                                    Add the Code Open <b>ProtectedRoute.js</b> and paste the code:
                                </p>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-js">import React from 'react';
import { Navigate } from 'react-router-dom';

const ProtectedRoute = ({ children }) => {
    const token = localStorage.getItem('token');
    return token ? children : <Navigate to="/login" />;
};

export default ProtectedRoute;
</code>
                                </pre>
                                </span>

                                <p class="topicDesc">
                                    Import those component in App.js which are opens only after login
                                </p>
                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-js">import ProtectedRoute from './inc/global/ProtectedRoute';
import Dashboard from './inc/pages/Dasboard';
</code>
                                </pre>
                                </span>

                                <p class="topicDesc">
                                    Then add all those components in routes like following in App.js
                                </p>
                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-js">&lt;Route
path="/dashboard"
element={
    &lt;ProtectedRoute>
    &lt;Dashboard />
    &lt;/ProtectedRoute>
}
/>
</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                        
                        <li id="is_user_login_ls">
                            <div>
                                <h3>
                                    <span class="text">
                                        Check if user is already login
                                    </span>
                                </h3>

                                <p class="topicDesc">
                                    Check if user is already login and open login page then automatically redirect to dashboard page <br/>
                                    Import <i>“useEffect”</i> in login component 
                                </p>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-js">import React, { useState, useEffect } from 'react';
</code>
                                </pre>
                                </span>

                                <p class="topicDesc">
                                    Add the following component in inside login component.<br/>
                                    Redirect if already logged in
                                </p>
                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">useEffect(() => {
    const token = localStorage.getItem('token');
    if (token) {
    navigate('/dashboard'); // Redirect to dashboard if token exists
    }
}, [navigate]);
</code>
                                </pre>
                                </span>
                            </div>
                        </li>
                        
                        <li id="using_cookies">
                            <div>
                                <h3>
                                    <span class="text">
                                        Login Functionality using Cookie
                                    </span>
                                </h3>

                                <p class="topicDesc">
                                    Then import js-cookie in login component.
                                    <b class="npm_cmd"> npm install js-cookie
                                    </b>
                                </p>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-js">import Cookies from 'js-cookie';
</code>
                                </pre>
                                </span>

                                <p class="topicDesc">
                                    Cookie Code
                                </p>
                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-php">const onSubmitForm = async (event) => {
    event.preventDefault();

    try {
        const response = await axios.post(`$[site-url]/wp-json/jwt-auth/v1/token`, {
            username: getInputValues.eMail,
            password: getInputValues.pWord,
        });
        Cookies.set('authToken', response.data.token, { expires: 4, secure: true });
        setResponseMessage('Login Successfull');
        navigate('/dashboard');
    } catch (error) {
        // console.error('Login failed', error.response.data);
        setResponseMessage('Invalid username or password.');
    }   
}

</code>
                                </pre>
                                </span>
                            </div>
                        </li>

                        <li id="protected_component_using_cookies">
                            <div>
                                <h3>
                                    <span class="text">
                                        Use following for protected Components using js-cookie
                                    </span>
                                </h3>

                                <p class="topicDesc">
                                    Add the Code Open ProtectedRoute.js and paste the code:
                                </p>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-js">import React from 'react';
import { Navigate } from 'react-router-dom';
const ProtectedRoute = ({ children }) => {
    const token = Cookies.get('authToken'); // Read token from cookies
    return token ? children : <Navigate to="/login" />;
};
export default ProtectedRoute;
</code>
                                </pre>
                                </span>
                            </div>
                        </li>

                        <li id="is_user_login_cookies">
                            <div>
                                <h3>
                                    <span class="text">
                                        Check is user is already login using js-cookie
                                    </span>
                                </h3>

                                <p class="topicDesc">
                                    Check if user is already login and open login page then automatically redirect to dashboard page<br/>
                                    Import <i>“useEffect”</i> in login component 
                                </p>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-js">import React, { useState, useEffect } from 'react';
</code>
                                </pre>
                                </span>

                                <p class="topicDesc">
                                    Add the following component in inside login component.<br/>
                                    Redirect if already logged in
                                </p>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-js">useEffect(() => {
    // const token = localStorage.getItem('token');
    const token = Cookies.get('authToken'); // Read token from cookies
    if (token) {
    navigate('/dashboard'); // Redirect to dashboard if token exists
    }
 }, [navigate]);
</code>
                                </pre>
                                </span>
                            </div>
                        </li>

                        <li id="logout_using_ls">
                            <div>
                                <h3>
                                    <span class="text">
                                        Logout using local storage
                                    </span>
                                </h3>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-js">import React from 'react';
import { useNavigate } from 'react-router-dom';

const Logout = () => {
    const navigate = useNavigate();
    const handleLogout = () => {
        localStorage.removeItem('token'); // Remove the token from localStorage
        alert('You have been logged out!'); // Optional: Notify the user
        navigate('/login'); // Redirect to the login page
    };
    return <button onClick={handleLogout}>Logout</button>;
};

export default Logout;
</code>
                                </pre>
                                </span>

                                <p class="topicDesc">
                                    Import above component where you want to add logout button
                                </p>
                            </div>
                        </li>

                        <li id="logout_using_cookies">
                            <div>
                                <h3>
                                    <span class="text">
                                        Logout using cookies
                                    </span>
                                </h3>

                                <span class="function">
                                    <pre class="line-numbers">
<code class="language-js">import Cookies from 'js-cookie';
import { useNavigate } from 'react-router-dom';

const Logout = () => {
    const navigate = useNavigate();
    const handleLogout = () => {
        Cookies.remove('authToken'); // Remove the cookie
        alert('Logged out successfully!');
        navigate('/login');
    };
    return <button onClick={handleLogout}>Logout</button>;
};

export default Logout;
</code>
                                </pre>
                                </span>

                                <p class="topicDesc">
                                    Import above component where you want to add logout button
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>


        <!-- Modal Show Button -->
        <div class="formButton">
            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <img src="./assets/images/contact.png">
            </a>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <!--modal-dialog-centered , modal-lg-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Contact</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="successMessage">
                            Your Message has been sent.
                        </div>
                        <form class="ap_form" method="POST" onsubmit="formSubmitFun(event)" name="submit-to-google-sheet" action="https://script.google.com/macros/s/AKfycbzrErSoIcF7eF4-fM0GBkBWs9JHHXoHikSfja2WgP77CkOkO4FxWSiEXLze_drOplOBIw/exec">
                            <div class="row">
                                <div class="col-12">
                                    <label>
                                        Name
                                        <input type="text" class="form-control" required name="Name">
                                    </label>
                                </div>
                                <div class="col-12">
                                    <label>
                                        Email
                                        <input type="email" class="form-control" required name="Email">
                                    </label>
                                </div>
                                <div class="col-12">
                                    <label>
                                        Message
                                        <textarea class="form-control" required name="Message"></textarea>
                                    </label>
                                </div>
                                <div class="col-12">
                                    <label>
                                        <input type="submit" class="ap_submit" value="Send Message">
                                    </label>
                                </div>
                            </div>

                            <div class="ap_loader">
                                <div class="lds-spinner">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


    









    <script src="./assets/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="./assets/confetti/tsparticles.confetti.bundle.min.js"></script>
    <script src="./assets/function.js"></script>

</body>

</html>
